
<% include ./header.ejs %>


  <body>




<div class="main">
<div class="blurred-box opaqueNotInView">


  <div class="user-login-box">
    <span class="user-icon"></span>
    <div class="user-name">Admin not logged in</div>
    <a class="user-password goto" href="/auth/login">Login</a>
  </div>

</div>

<div class="blurred-box opaqueNotInView">


  <div class="user-login-box">
    <span class="user-icon"></span>
    <div class="user-name">Admin</div>
    <span type="submit" class="user-password"><a class="goto" href="/">Home</a></span>
  </div>

</div>

</div>
<% include ./footer.ejs %>

  
