<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oauth first time </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>

    .bounce-5 {
            animation-name: bounce-5;
            animation-timing-function: ease;
        }
        @keyframes bounce-5 {
            0%   { transform: scale(1,1)    translateY(0); }
            10%  { transform: scale(1.1,.9) translateY(0); }
            30%  { transform: scale(.9,1.1) translateY(-100px); }
            50%  { transform: scale(1,1)    translateY(0); }
            57%  { transform: scale(1,1)    translateY(-7px); }
            64%  { transform: scale(1,1)    translateY(0); }
            100% { transform: scale(1,1)    translateY(0); }
        }

    img {
      width: 100px;
      height:100px;
      border-radius:50%;
    }
      .main {

      width: 100%;
     height: 100vh;
     overflow:hidden;

   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-align-content: center;
   -ms-flex-line-pack: center;
   align-content: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;

   background-image:url(//unsplash.it/620/600);

   font-family: Arial, Helvetica;
   letter-spacing: 0.02em;
    font-weight: 400;
   -webkit-font-smoothing: antialiased;

}


*{
 margin: 0;
 padding: 0;
}

h1 {
  position:relative;
  top:0px;
  width: 50%;
  height: 30px;
  text-align:center;
  margin: 5px auto;
  background:black;
  color:white;
  mix-blend-mode: exclusion;
}



/* CSS which you need for blurred box */


.blurred-box{
  margin-left:2%;
  position: relative;
  width: 250px;
  height: 350px;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  animation-duration: 2s;
  animation-iteration-count: 1;

}

.blurred-box:after{
 content: '';
 width: 2500px;
 height: 300px;
 background: inherit;
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;
 bottom: 0;
 box-shadow: inset 0 0 0 20px rgba(255,255,255,0.15);
 filter: blur(20px);
}


/* Form which you dont need */
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(//unsplash.it/500/500);
}

.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.notOpaqueInView{
  opacity:1;
  transform: translate(0%, 0%);

}

.opaqueNotInView{
  opacity:0;
  transform: translate(100%, 100%);

}

.user-password{
  overflow:hidden;
  background: orange;
  position:relative;
  width: 150px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

.user-password::before{
  transition: all .8s;
  content:'';
  position:absolute;
  top:0px;
  left:100%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  width: 8px;
  height: 20px;
  opacity: 0;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  transform: skew(0deg);
}
.user-password:hover::before{
  transition: all .8s;
  content:'';
  position:absolute;
  top:0px;
  left:-100px;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  width: 88px;
  height: 30px;
  opacity: 1;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  transform: rotateZ(60deg)
}
       </style>

  </head>
  <body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="main">
<div class="blurred-box opaqueNotInView">


  <div class="user-login-box">
    <span class="user-icon"><img src="<%= user.thumbnail %>" /></span>
    <div class="user-name">Logged in as:<br> <%= user.username.toUpperCase() %></div>
    <a class="user-password goto" href="/auth/logout">Logout</a>
  </div>

</div>

<div class="blurred-box opaqueNotInView">


  <div class="user-login-box">
    <span class="user-icon"></span>
    <div class="user-name">Admin</div>
    <a class="user-password goto" href="/">Home</a>
  </div>

</div>

</div>
<script>
    $(document).ready(function(){
console.log("hi");
var time = 50;
$('.blurred-box').each(function(i){
var row = $(this);
  setTimeout(function() {
    row.removeClass("opaqueNotInView");
    row.addClass('bounce-5');

}, time);
  time += 200;



    });
    });


    $(".goto").on('click', function(e) {
e.preventDefault();
boxCount = $('.blurred-box').length;
      var time = 300;
      $('.blurred-box').each(function(i){
      var row = $(this);
        setTimeout(function() {
          row.removeClass("notOpaqueInView");
          row.addClass('opaqueNotInView');
          if (i == boxCount - 1) {
        console.log('bye');
       window.location = e.target.href;
      }
      }, time);
        time += 400;



          });

});
    </script>
  </body>
</html>
