<% include ./header.ejs %>


  <body>



<div class="main">
<div class="blurred-box opaqueNotInView">


  <div class="user-login-box">
    <span class="user-icon"><img src="<%= user.thumbnail %>" /></span>
    <div class="user-name">Logged in as:<br> <%= user.username.toUpperCase() %></div>
    <a class="user-password goto" href="/auth/logout">Logout</a>
  </div>

</div>

<div class="blurred-box opaqueNotInView">


  <div class="user-login-box">
    <span class="user-icon"></span>
    <div class="user-name">Admin</div>
    <a class="user-password goto" href="/">Home</a>
  </div>

</div>

</div>

<% include ./footer.ejs %>
