


<% include ./header.ejs %>

  <body>

         <div class="main">

 <div class="blurred-box opaqueNotInView">


           <div class="user-login-box">
             <span class="user-icon"></span>
             <div class="user-name">Admin</div>
             <a class="user-password goto" href="/">Home</a>
           </div>

         </div>

         <div class="blurred-box opaqueNotInView">


           <div class="user-login-box">
             <span class="user-icon"></span>
             <div class="user-name">Log in using</div>
             <a class="user-password goto google-btn" href="/auth/google">Facebook<i class='fa fa-facebook'></i></a>
           </div>

         </div>

         <div class="blurred-box opaqueNotInView">


           <div class="user-login-box">
             <span class="user-icon"></span>
             <div class="user-name">Log in using</div>
             <a class="user-password goto google-btn" href="/auth/google">Twitter<i class='fa fa-twitter'></i></a>
           </div>

         </div>

         <div class="blurred-box opaqueNotInView">


           <div class="user-login-box">
             <span class="user-icon"></span>
             <div class="user-name">Log in using</div>
             <a class="user-password goto google-btn" href="/auth/google">Google+<i class='fa fa-google'></i></a>
           </div>

         </div>

         </div>
<% include ./footer.ejs %>
    
